// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#greeting {
	width: 300px;
	margin-top: 100px;
	margin-bottom: 50px;
}

#sign-up {
	width: 200px;
	margin-bottom: 20px;
}

#subtext {
	width: 200px;
}
